<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All folders</title>
  </head>
  <body>
    <h1>All folders for <%- locals.currentUser.email %></h1>

    <% locals.folders.forEach(folder => { %>
    <div>
      <p><%- folder.name %></p>
      <a href=""><button>Update folder</button></a>
    </div>
    <% }) %>
  </body>
</html>
