<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <% if (!locals.currentUser) { %>
    <p>Click <a href="/sign-up/">here</a> to sign up.</p>
    <p>Click <a href="/log-in/">here</a> to log in.</p>
    <% } else { %>
    <p>Hello <%- locals.currentUser.email %></p>
    <p>Click <a href="/log-out/">here</a> to log out.</p>
    <p>Click <a href="/folders/new-folder/">here</a> to create a new folder.</p>
    <p>Click <a href="/folders/">here</a> to view all folders.</p>
    <% } %>
  </body>
</html>
