<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <h1>Hmm... looks like you're already signed in!</h1>
    <p>Click <a href="/">here</a> to return to the home page.</p>
    <p>Or click <a href="/log-out">here</a> to log out.</p>
    <% } else { %>
    <h1>Log-in</h1>
    <form action="" method="post">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" />
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log in</button>
    </form>
    <% if (locals.failureMessage) { %>
    <p><%- locals.failureMessage %></p>
    <% } %> <% } %>
  </body>
</html>
