<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create newfolder</title>
  </head>
  <body>
    <h1>Create new folder</h1>
    <form action="" method="post">
      <label for="folderName">Name for new folder: </label>
      <input type="text" name="folderName" id="folderName" />
      <button type="submit">Create folder</button>
    </form>
    <%- include('partials/errors.ejs') %>
  </body>
</html>
