<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unauthorized</title>
  </head>
  <body>
    <h1>You are not yet logged in and cannot access this page.</h1>
    <p>Please click <a href="/log-in">here</a> to log in.</p>
    <p>Or click <a href="/">here</a> to return to the home page.</p>
  </body>
</html>
